---
layout: default
title: "WordMistri"
---




<div class="toc">
  <h2>Stories</h2>
  <ul class="texts">
  {% for item in site.stories %}

    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
  
  <h2>Poetry</h2>
  <ul class="texts">
  {% for item in site.texts %}

    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
  
  <h2>Actuality</h2>
  <ul class="texts">
  {% for item in site.reflections %}

    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

